bokeh==0.13.0
certifi==2018.4.16
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
descartes==1.1.0
Fiona==1.7.12
Flask==1.0.2
GDAL==2.2.4
geopandas==0.3.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
mkl-fft==1.0.2
mkl-random==1.0.1
munch==2.3.2
numpy==1.14.5
packaging==17.1
pandas==0.23.2
psycopg2==2.7.5
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.3
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.12
Rtree==0.8.3
scipy==1.1.0
Shapely==1.6.4.post1
six==1.11.0
SQLAlchemy==1.2.8
tornado==5.0.2
Werkzeug==0.14.1
