.myForm {
	text-align: center;
}

.heading > h3{
	text-align: center;
}

#form_id {
	padding: 5px 0;
}

.map-container{
	text-align: center;
}

#map{
	border: 1px solid black;
	background-color: #fff;
	height:630px;
	width:640px;
}