<!DOCTYPE html>
<html lang="en">
<head
	<meta charset="UTF-8">
	<title>India General Assembly Elections 2014</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='chosen.min.css') }}"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='chosen.jquery.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
	<script  type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="heading"><h3>Visualising Indian General Assembly Elections 2014</h3></div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-12 cold-lg-12 myForm">
						<form id="form_id">
							<select class="menuSelect" name="party-name">
										<option value="None"></option>
									  	<option value="Bharatiya Janata Party">Bharatiya Janata Party</option>
										<option value="Indian National Congress">Indian National Congress</option>
										<option value="Bahujan Samaj Party">Bahujan Samaj Party</option>
										<option value="All India Trinamool Congress">All India Trinamool Congress</option>
										<option value="Samajwadi Party">Samajwadi Party</option>
										<option value="All India Anna Dravida Munnetra Kazhagam">All India Anna Dravida Munnetra Kazhagam</option>
										<option value="Communist Party of India (Marxist)">Communist Party of India (Marxist)</option>
										<option value="Independent">Independent</option>
										<option value="Telugu Desam">Telugu Desam</option>
										<option value="Yuvajana Sramika Rythu Congress Party">Yuvajana Sramika Rythu Congress Party</option>
										<option value="Aam Aadmi Party">Aam Aadmi Party</option>
										<option value="Shivsena">Shivsena</option>
										<option value="Dravida Munnetra Kazhagam">Dravida Munnetra Kazhagam</option>
										<option value="Biju Janata Dal">Biju Janata Dal</option>
										<option value="Nationalist Congress Party">Nationalist Congress Party</option>
										<option value="Rashtriya Janata Dal">Rashtriya Janata Dal</option>
										<option value="Telangana Rashtra Samithi">Telangana Rashtra Samithi</option>
										<option value="None of the Above">None of the Above</option>
										<option value="Janata Dal (United)">Janata Dal (United)</option>
										<option value="Communist Party of India">Communist Party of India</option>
										<option value="Janata Dal (Secular)">Janata Dal (Secular)</option>
										<option value="Shiromani Akali Dal">Shiromani Akali Dal</option>
										<option value="Indian National Lok Dal">Indian National Lok Dal</option>
										<option value="All India United Democratic Front">All India United Democratic Front</option>
										<option value="Lok Jan Shakti Party">Lok Jan Shakti Party</option>
										<option value="Desiya Murpokku Dravida Kazhagam">Desiya Murpokku Dravida Kazhagam</option>
										<option value="Pattali Makkal Katchi">Pattali Makkal Katchi</option>
										<option value="Revolutionary Socialist Party">Revolutionary Socialist Party</option>
										<option value="Jharkhand Mukti Morcha">Jharkhand Mukti Morcha</option>
										<option value="Jharkhand Vikas Morcha (Prajatantrik)">Jharkhand Vikas Morcha (Prajatantrik)</option>
										<option value="Marumalarchi Dravida Munnetra Kazhagam">Marumalarchi Dravida Munnetra Kazhagam</option>
										<option value="All India Forward Bloc">All India Forward Bloc</option>
										<option value="Swabhimani Paksha">Swabhimani Paksha</option>
										<option value="Indian Union Muslim League">Indian Union Muslim League</option>
										<option value="Rashtriya Lok Samta Party">Rashtriya Lok Samta Party</option>
										<option value="Communist Party of India (Marxist-Leninist) (Liberation)">Communist Party of India (Marxist-Leninist) (Liberation)</option>
										<option value="Naga Peoples Front">Naga Peoples Front</option>
										<option value="Apna Dal">Apna Dal</option>
										<option value="Bahujan Mukti Party">Bahujan Mukti Party</option>
										<option value="Jammu & Kashmir Peoples Democratic Party">Jammu & Kashmir Peoples Democratic Party</option>
										<option value="Maharashtra Navnirman sena">Maharashtra Navnirman sena</option>
										<option value="Haryana Janhit Congress (BL)">Haryana Janhit Congress (BL)</option>
										<option value="Rashtriya Lok Dal">Rashtriya Lok Dal</option>
										<option value="All India Majlis-E-Ittehadul Muslimeen">All India Majlis-E-Ittehadul Muslimeen</option>
										<option value="Viduthalai Chiruthaigal Katchi">Viduthalai Chiruthaigal Katchi</option>
										<option value="Asom Gana Parishad">Asom Gana Parishad</option>
										<option value="National Peoples Party">National Peoples Party</option>
										<option value="SOCIALIST UNITY CENTRE OF INDIA (COMMUNIST)">SOCIALIST UNITY CENTRE OF INDIA (COMMUNIST)</option>
										<option value="Peace Party">Peace Party</option>
										<option value="Peasants And Workers Party of India">Peasants And Workers Party of India</option>
										<option value="AJSU Party">AJSU Party</option>
										<option value="Rashtriya Samaj Paksha">Rashtriya Samaj Paksha</option>
										<option value="Kerala Congress (M)">Kerala Congress (M)</option>
										<option value="Jammu & Kashmir National Conference">Jammu & Kashmir National Conference</option>
										<option value="SOCIAL DEMOCRATIC PARTY OF INDIA">SOCIAL DEMOCRATIC PARTY OF INDIA</option>
										<option value="Bharipa Bahujan Mahasangh">Bharipa Bahujan Mahasangh</option>
										<option value="Qaumi Ekta Dal">Qaumi Ekta Dal</option>
										<option value="Bodoland Peoples Front">Bodoland Peoples Front</option>
										<option value="Socialist Janata (Democratic)">Socialist Janata (Democratic)</option>
										<option value="Gondvana Gantantra Party">Gondvana Gantantra Party</option>
										<option value="Bahujan Vikas Aaghadi">Bahujan Vikas Aaghadi</option>
										<option value="Puthiya Tamilagam">Puthiya Tamilagam</option>
										<option value="All India N.R. Congress">All India N.R. Congress</option>
										<option value="Manithaneya Makkal Katchi">Manithaneya Makkal Katchi</option>
										<option value="Welfare Party Of India">Welfare Party Of India</option>
										<option value="Jai Bharat Samanta Party">Jai Bharat Samanta Party</option>
										<option value="Jai Samaikyandhra Party">Jai Samaikyandhra Party</option>
										<option value="Jharkhand Party">Jharkhand Party</option>
										<option value="Republican Party of India (A)">Republican Party of India (A)</option>
										<option value="Pyramid Party of India">Pyramid Party of India</option>
										<option value="Ambedkarite Party of India">Ambedkarite Party of India</option>
										<option value="Lok Satta Party">Lok Satta Party</option>
										<option value="Sikkim Democratic Front">Sikkim Democratic Front</option>
										<option value="Aama Odisha Party">Aama Odisha Party</option>
										<option value="National Unionist Zamindara Party">National Unionist Zamindara Party</option>
										<option value="Sikkim Krantikari Morcha">Sikkim Krantikari Morcha</option>
										<option value="Suheldev Bhartiya Samaj Party">Suheldev Bhartiya Samaj Party</option>
										<option value="Communist Party of India (Marxist-Leninist) Red Star">Communist Party of India (Marxist-Leninist) Red Star</option>
										<option value="Marxist Co-Ordination">Marxist Co-Ordination</option>
										<option value="Jharkhand Disom Party">Jharkhand Disom Party</option>
										<option value="United Democratic Party">United Democratic Party</option>
										<option value="Rashtriya Parivartan Dal">Rashtriya Parivartan Dal</option>
										<option value="Republican Party of India">Republican Party of India</option>
										<option value="Bharatiya Ekta Dal">Bharatiya Ekta Dal</option>
										<option value="Bhartiya Shakti Chetna Party">Bhartiya Shakti Chetna Party</option>
										<option value="Amra Bangalee">Amra Bangalee</option>
										<option value="Jammu & Kashmir People Conference">Jammu & Kashmir People Conference</option>
										<option value="Republican Paksha (Khoripa)">Republican Paksha (Khoripa)</option>
										<option value="Bahujan Sangharshh Dal">Bahujan Sangharshh Dal</option>
										<option value="Samajwadi Janata Party (Rashtriya)">Samajwadi Janata Party (Rashtriya)</option>
										<option value="Akhil Bharatiya Muslim League (Secular)">Akhil Bharatiya Muslim League (Secular)</option>
										<option value="Jai Maha Bharath Party">Jai Maha Bharath Party</option>
										<option value="Jammu & Kashmir National Panthers Party">Jammu & Kashmir National Panthers Party</option>
										<option value="Rashtriya Ulama Council">Rashtriya Ulama Council</option>
										<option value="Janta Dal Rashtravadi">Janta Dal Rashtravadi</option>
										<option value="Tamil Nadu Makkal Congress">Tamil Nadu Makkal Congress</option>
										<option value="Lok Dal">Lok Dal</option>
										<option value="Janvadi Party(Socialist)">Janvadi Party(Socialist)</option>
										<option value="People's Party of Arunachal">People's Party of Arunachal</option>
										<option value="Hindustan Janta Party">Hindustan Janta Party</option>
										<option value="Rashtriya Krantikari Samajwadi Party">Rashtriya Krantikari Samajwadi Party</option>
										<option value="Bharat Vikas Morcha">Bharat Vikas Morcha</option>
										<option value="Odisha Jan Morcha">Odisha Jan Morcha</option>
										<option value="Revolutionary Socialist Party of Kerala (Bolshevik) RSP.B">Revolutionary Socialist Party of Kerala (Bolshevik) RSP.B</option>
										<option value="Chhattisgarh Swabhiman Manch">Chhattisgarh Swabhiman Manch</option>
										<option value="Socialist Party (India)">Socialist Party (India)</option>
										<option value="Pragatisheel Manav Samaj Party">Pragatisheel Manav Samaj Party</option>
										<option value="Rajnaitik Vikalp Party">Rajnaitik Vikalp Party</option>
										<option value="Bharatiya Yuva Shakti">Bharatiya Yuva Shakti</option>
										<option value="Rashtriya Deshaj Party">Rashtriya Deshaj Party</option>
										<option value="Naitik Party">Naitik Party</option>
										<option value="Shiromani Akali Dal (Amritsar)(Simranjit Singh Mann)">Shiromani Akali Dal (Amritsar)(Simranjit Singh Mann)</option>
										<option value="Karunaadu Party">Karunaadu Party</option>
										<option value="Rashtriya Janadhikar Suraksha Party">Rashtriya Janadhikar Suraksha Party</option>
										<option value="Rashtriya Samanta Dal">Rashtriya Samanta Dal</option>
										<option value="Samyak Parivartan Party">Samyak Parivartan Party</option>
										<option value="Akhil Bharat Hindu Mahasabha">Akhil Bharat Hindu Mahasabha</option>
										<option value="Paschimanchal Vikas Party">Paschimanchal Vikas Party</option>
										<option value="Prem Janata Dal">Prem Janata Dal</option>
										<option value="Jago Party">Jago Party</option>
										<option value="Jai Prakash Janata Dal">Jai Prakash Janata Dal</option>
										<option value="Ambedkar Samaj Party">Ambedkar Samaj Party</option>
										<option value="Jai Hind Samaj Party">Jai Hind Samaj Party</option>
										<option value="VANCHITSAMAJ INSAAF PARTY">VANCHITSAMAJ INSAAF PARTY</option>
										<option value="Gareeb Aadmi Party">Gareeb Aadmi Party</option>
										<option value="Republican Party of India (Khobragade)">Republican Party of India (Khobragade)</option>
										<option value="Mahan Dal">Mahan Dal</option>
										<option value="Party for Democratic Socialism">Party for Democratic Socialism</option>
										<option value="Mahajana Socialist Party">Mahajana Socialist Party</option>
										<option value="Samata Party">Samata Party</option>
										<option value="Bajjikanchal Vikas Party">Bajjikanchal Vikas Party</option>
										<option value="Indigenousn People's Front Of Tripura">Indigenousn People's Front Of Tripura</option>
										<option value="Prajatantrik Samadhan Party">Prajatantrik Samadhan Party</option>
										<option value="Kalinga Sena">Kalinga Sena</option>
										<option value="Samata Kranti Dal">Samata Kranti Dal</option>
										<option value="Akhil Bharatiya Jan Sangh">Akhil Bharatiya Jan Sangh</option>
										<option value="Bharatiya National Janta Dal">Bharatiya National Janta Dal</option>
										<option value="Ambedkar National Congress">Ambedkar National Congress</option>
										<option value="Prabuddha Republican Party">Prabuddha Republican Party</option>
										<option value="Most Backward Classes Of India">Most Backward Classes Of India</option>
										<option value="Sarvajan Kalyan Loktantrik Party">Sarvajan Kalyan Loktantrik Party</option>
										<option value="Rashtriya Janasachetan Party (R.J.P.)">Rashtriya Janasachetan Party (R.J.P.)</option>
										<option value="Manavtawadi Samaj Party">Manavtawadi Samaj Party</option>
										<option value="Desiya Forward Bloc">Desiya Forward Bloc</option>
										<option value="Socialistic Democratic Party">Socialistic Democratic Party</option>
										<option value="Indian Savarn Samaj Party">Indian Savarn Samaj Party</option>
										<option value="Jharkhand Party (Naren)">Jharkhand Party (Naren)</option>
										<option value="Akhil Bhartiya Jharkhand Party">Akhil Bhartiya Jharkhand Party</option>
										<option value="Samata Samadhan Party">Samata Samadhan Party</option>
										<option value="Ambedkarist Republican Party">Ambedkarist Republican Party</option>
										<option value="Shoshit Samaj Dal">Shoshit Samaj Dal</option>
										<option value="Rashtriya Indepndent Morcha">Rashtriya Indepndent Morcha</option>
										<option value="Bharatiya Momin Front">Bharatiya Momin Front</option>
										<option value="Nav Bharat Democratic Party">Nav Bharat Democratic Party</option>
										<option value="Sankhyanupati Bhagidari Party">Sankhyanupati Bhagidari Party</option>
										<option value="Naya Daur Party">Naya Daur Party</option>
										<option value="Bharatiya Sant Mat Party">Bharatiya Sant Mat Party</option>
										<option value="Moulik Adhikar Party">Moulik Adhikar Party</option>
										<option value="Sarva Janata Party">Sarva Janata Party</option>
										<option value="Ati Picchara party">Ati Picchara party</option>
										<option value="Proutist Sarva Samaj">Proutist Sarva Samaj</option>
										<option value="Jai Hind Party">Jai Hind Party</option>
										<option value="Bharatiya Jan Kranti Dal (Democratic)">Bharatiya Jan Kranti Dal (Democratic)</option>
										<option value="Indian Christian Secular Party">Indian Christian Secular Party</option>
										<option value="Swaraj (J)">Swaraj (J)</option>
										<option value="Indian Unity Centre">Indian Unity Centre</option>
										<option value="Lok Bharati">Lok Bharati</option>
										<option value="Maharashtra Parivartan Sena (T)">Maharashtra Parivartan Sena (T)</option>
										<option value="Lokpriya Samaj Party">Lokpriya Samaj Party</option>
										<option value="Rashtriya Ahinsa Manch">Rashtriya Ahinsa Manch</option>
										<option value="Marxist Communist Party of India (United)">Marxist Communist Party of India (United)</option>
										<option value="Rashtriya Apna Dal">Rashtriya Apna Dal</option>
										<option value="Jharkhand Anushilan Party">Jharkhand Anushilan Party</option>
										<option value="Andhra Rastra Praja Samithi">Andhra Rastra Praja Samithi</option>
										<option value="Adarsh Rashtriya Vikas Party">Adarsh Rashtriya Vikas Party</option>
										<option value="Indian National League">Indian National League</option>
										<option value="Aadivasi Sena Party">Aadivasi Sena Party</option>
										<option value="Swarajya Party Of India">Swarajya Party Of India</option>
										<option value="Majlis Bachao Tahreek">Majlis Bachao Tahreek</option>
										<option value="Minorities Democratic Party">Minorities Democratic Party</option>
										<option value="Akhil Bhartiya Mithila Party">Akhil Bhartiya Mithila Party</option>
										<option value="National Loktantrik Party">National Loktantrik Party</option>
										<option value="Bahujan Samaj Party (Ambedkar)">Bahujan Samaj Party (Ambedkar)</option>
										<option value="Jharkhand Vikas Dal">Jharkhand Vikas Dal</option>
										<option value="Regional Democratic Secular Congress">Regional Democratic Secular Congress</option>
										<option value="Rashtriya Janwadi Party (Krantikari)">Rashtriya Janwadi Party (Krantikari)</option>
										<option value="Jamat-E-Seratul Mustakim">Jamat-E-Seratul Mustakim</option>
										<option value="Megh Desham Party">Megh Desham Party</option>
										<option value="Sarva Samaj Kalyan Party">Sarva Samaj Kalyan Party</option>
										<option value="Bharat Bhrashtachar Mitao Party">Bharat Bhrashtachar Mitao Party</option>
										<option value="Rashtriya Gondvana Party">Rashtriya Gondvana Party</option>
										<option value="Loktantrik Janata Party (Secular)">Loktantrik Janata Party (Secular)</option>
										<option value="Samajwadi Jan Parishad">Samajwadi Jan Parishad</option>
										<option value="All India Minorities Front">All India Minorities Front</option>
										<option value="Samruddha Odisha">Samruddha Odisha</option>
										<option value="Samtawadi Republican Party">Samtawadi Republican Party</option>
										<option value="Bharatiya Dr. B.R.Ambedkar Janta Party">Bharatiya Dr. B.R.Ambedkar Janta Party</option>
										<option value="Aam Janata Party">Aam Janata Party</option>
										<option value="Apna Dal United Party">Apna Dal United Party</option>
										<option value="Ulzaipali Makkal Katchy">Ulzaipali Makkal Katchy</option>
										<option value="Tripura Pragatishil Gramin Congress">Tripura Pragatishil Gramin Congress</option>
										<option value="Hindusthan Nirman Dal">Hindusthan Nirman Dal</option>
										<option value="Hindusthan Praja Paksha">Hindusthan Praja Paksha</option>
										<option value="Bhartiya Ekta Manch Party">Bhartiya Ekta Manch Party</option>
										<option value="Rashtravadi Janata Party">Rashtravadi Janata Party</option>
										<option value="Aadijan Mukti Sena">Aadijan Mukti Sena</option>
										<option value="Makkal Manadu Katchi">Makkal Manadu Katchi</option>
										<option value="Kosal Kranti Dal">Kosal Kranti Dal</option>
										<option value="Bharatiya Republican Paksha">Bharatiya Republican Paksha</option>
										<option value="Rajasthan Vikas Party">Rajasthan Vikas Party</option>
										<option value="Shramajeevi Party">Shramajeevi Party</option>
										<option value="Hindustan Vikas Dal">Hindustan Vikas Dal</option>
										<option value="Kisan Majdoor Berojgar Sangh">Kisan Majdoor Berojgar Sangh</option>
										<option value="Dalita Bahujana Party">Dalita Bahujana Party</option>
										<option value="Rashtriya Congress(J) Party">Rashtriya Congress(J) Party</option>
										<option value="All India Peoples' Front (Radical)">All India Peoples' Front (Radical)</option>
										<option value="Krantikari Vikas Dal">Krantikari Vikas Dal</option>
										<option value="Bharatiya Kisan Parivartan Party">Bharatiya Kisan Parivartan Party</option>
										<option value="Peoples Guardian">Peoples Guardian</option>
										<option value="Bharatiya Bahujan Congress">Bharatiya Bahujan Congress</option>
										<option value="Rashtriya Jan-Jagram Morcha">Rashtriya Jan-Jagram Morcha</option>
										<option value="Sanatan Sanskriti Raksha Dal">Sanatan Sanskriti Raksha Dal</option>
										<option value="B. C. United Front">B. C. United Front</option>
										<option value="Rashtra Sewa Dal">Rashtra Sewa Dal</option>
										<option value="Sanyukt Samajwadi Dal">Sanyukt Samajwadi Dal</option>
										<option value="Bihar Janta Party">Bihar Janta Party</option>
										<option value="Hindustan Krantikari Dal">Hindustan Krantikari Dal</option>
										<option value="SARVAJAN SAMAJ PARTY (D)">SARVAJAN SAMAJ PARTY (D)</option>
										<option value="Jan Shakti Ekta Party">Jan Shakti Ekta Party</option>
										<option value="Samaikya Telugu Rajyam">Samaikya Telugu Rajyam</option>
										<option value="Socialist Republican Party">Socialist Republican Party</option>
										<option value="Proutist Bloc, India">Proutist Bloc, India</option>
										<option value="United Communist Party of India">United Communist Party of India</option>
										<option value="Indian Labour Party (Ambedkar Phule)">Indian Labour Party (Ambedkar Phule)</option>
										<option value="Republican Backward Congress">Republican Backward Congress</option>
										<option value="Rashtriya Naujawan Dal">Rashtriya Naujawan Dal</option>
										<option value="Al-Hind Party">Al-Hind Party</option>
										<option value="AARAKSHAN VIRODHI PARTY">AARAKSHAN VIRODHI PARTY</option>
										<option value="Bhartiya Sarvjan Party">Bhartiya Sarvjan Party</option>
										<option value="The Lok Party of India">The Lok Party of India</option>
										<option value="Rashtriya Bahujan Congress Party">Rashtriya Bahujan Congress Party</option>
										<option value="Bharatiya Gaon Taj Dal">Bharatiya Gaon Taj Dal</option>
										<option value="Apna Desh Party">Apna Desh Party</option>
										<option value="Deshbhakt Nirman Party">Deshbhakt Nirman Party</option>
										<option value="Bahujan Sangharsh Party (Kanshiram)">Bahujan Sangharsh Party (Kanshiram)</option>
										<option value="Moderate Party">Moderate Party</option>
										<option value="Bundelkhand Congress">Bundelkhand Congress</option>
										<option value="Bharatiya Inqalab Party">Bharatiya Inqalab Party</option>
										<option value="Eklavya Samaj Party">Eklavya Samaj Party</option>
										<option value="Democratic Bharatiya Samaj Party">Democratic Bharatiya Samaj Party</option>
										<option value="Agar Jan Party">Agar Jan Party</option>
										<option value="Indian Krantikari Lehar">Indian Krantikari Lehar</option>
										<option value="New India Party">New India Party</option>
										<option value="Moolniwasi Samaj Party">Moolniwasi Samaj Party</option>
										<option value="Bhartiya Satya Sangharsh Party">Bhartiya Satya Sangharsh Party</option>
										<option value="Samajwadi Samaj Party">Samajwadi Samaj Party</option>
										<option value="Samaikyandhra Parirakshana Samithi">Samaikyandhra Parirakshana Samithi</option>
										<option value="Poorvanchal Rashtriya Congress">Poorvanchal Rashtriya Congress</option>
										<option value="Kalyankari Jantantrik Party">Kalyankari Jantantrik Party</option>
										<option value="Jan-Nyay Dal">Jan-Nyay Dal</option>
										<option value="Bhartiya Jantantrik Janata Dal">Bhartiya Jantantrik Janata Dal</option>
										<option value="Bharatiya Bahujan Party">Bharatiya Bahujan Party</option>
										<option value="Rashtriya Jankranti Morcha">Rashtriya Jankranti Morcha</option>
										<option value="Yuva Sarkar">Yuva Sarkar</option>
										<option value="Rashtriya Congress (Babu Jagjivanram)">Rashtriya Congress (Babu Jagjivanram)</option>
										<option value="Rayalaseema Parirakshana Samithi">Rayalaseema Parirakshana Samithi</option>
										<option value="Jan Sevak Party">Jan Sevak Party</option>
										<option value="Shakti Sena (Bharat Desh)">Shakti Sena (Bharat Desh)</option>
										<option value="Braj Vikas Party">Braj Vikas Party</option>
										<option value="Manav Mukti Morcha">Manav Mukti Morcha</option>
										<option value="Lok Parivartan Party(DC)">Lok Parivartan Party(DC)</option>
										<option value="All J & K Kisan Majdoor Party">All J & K Kisan Majdoor Party</option>
										<option value="Akhil Bharatiya Shivsena Rashtrawadi">Akhil Bharatiya Shivsena Rashtrawadi</option>
										<option value="awami aamjan party">awami aamjan party</option>
										<option value="Rashtriya Ambedkar Dal">Rashtriya Ambedkar Dal</option>
										<option value="Bharatiya Peoples Party">Bharatiya Peoples Party</option>
										<option value="Jai Vijaya Bharathi Party">Jai Vijaya Bharathi Party</option>
										<option value="Chhattisgarhiya Party">Chhattisgarhiya Party</option>
										<option value="Bhartiya Krishak Dal">Bhartiya Krishak Dal</option>
										<option value="Rastriya Insaaf Party">Rastriya Insaaf Party</option>
										<option value="Rashtriya Sarvajan Party">Rashtriya Sarvajan Party</option>
										<option value="Bhartiya Vanchitsamaj Party">Bhartiya Vanchitsamaj Party</option>
										<option value="Dharam Nirpeksh Dal">Dharam Nirpeksh Dal</option>
										<option value="Rashtriya Janpriya Party">Rashtriya Janpriya Party</option>
										<option value="Rashtriya Kranti Party">Rashtriya Kranti Party</option>
										<option value="Rashtriya Kranti Party">Rashtriya Kranti Party</option>
										<option value="Parcham Party of India">Parcham Party of India</option>
										<option value="Pragatisheel Samaj Party">Pragatisheel Samaj Party</option>
										<option value="Swatantra Samaj Party">Swatantra Samaj Party</option>
										<option value="Vichara Jagruthi Congress Paksha">Vichara Jagruthi Congress Paksha</option>
										<option value="Janta Raj Party">Janta Raj Party</option>
										<option value="Nirjatita Samaj Biplabi Party">Nirjatita Samaj Biplabi Party</option>
										<option value="Bharatiya Kisan Sena Loktantrik">Bharatiya Kisan Sena Loktantrik</option>
										<option value="New All India Congress Party">New All India Congress Party</option>
										<option value="Awami Vikas Party">Awami Vikas Party</option>
										<option value="Lok Shakti">Lok Shakti</option>
										<option value="National Development Party">National Development Party</option>
										<option value="Jharkhand Mukti Morcha (Ulgulan)">Jharkhand Mukti Morcha (Ulgulan)</option>
										<option value="Indian Peoples Green Party">Indian Peoples Green Party</option>
										<option value="Asankhya Samaj Party">Asankhya Samaj Party</option>
										<option value="Bharatiya Minorities Suraksha Mahasangh">Bharatiya Minorities Suraksha Mahasangh</option>
										<option value="Rashtriya Aam Party">Rashtriya Aam Party</option>
										<option value="Bharat Ki Lok Jimmedar Party">Bharat Ki Lok Jimmedar Party</option>
										<option value="Bharti Jan Suraksha Party">Bharti Jan Suraksha Party</option>
										<option value="Rashtriya Sant Sandesh Party">Rashtriya Sant Sandesh Party</option>
										<option value="National Tiger Party">National Tiger Party</option>
										<option value="Bharatiya Rashtriya Bahujan Samaj Vikas Party">Bharatiya Rashtriya Bahujan Samaj Vikas Party</option>
										<option value="Pragatisheel Magahi Samaj">Pragatisheel Magahi Samaj</option>
										<option value="National Lokmat Party">National Lokmat Party</option>
										<option value="Ezhuchi Tamilargal Munnetra Kazhagam">Ezhuchi Tamilargal Munnetra Kazhagam</option>
										<option value="Ex-Sainik Kissan Party">Ex-Sainik Kissan Party</option>
										<option value="Shoshit Sandesh Party">Shoshit Sandesh Party</option>
										<option value="Maharashtra Vikas Aghadi">Maharashtra Vikas Aghadi</option>
										<option value="RASHTRIYA VIKLANG PARTY">RASHTRIYA VIKLANG PARTY</option>
										<option value="Nagrik Ekta Party">Nagrik Ekta Party</option>
										<option value="Republican Bahujan Sena">Republican Bahujan Sena</option>
										<option value="Gorkha Rashtriya Congress">Gorkha Rashtriya Congress</option>
										<option value="Jan Morcha">Jan Morcha</option>
										<option value="Vishva Hindustani Sangathan">Vishva Hindustani Sangathan</option>
										<option value="Rashtriya mahan Gantantra Party">Rashtriya mahan Gantantra Party</option>
										<option value="Loktantrik Samajwadi Party">Loktantrik Samajwadi Party</option>
										<option value="Rani Chennamma Party">Rani Chennamma Party</option>
										<option value="Hindustan Kranti Dal">Hindustan Kranti Dal</option>
										<option value="Andhra Pradesh Rashtra Samaikya Samithi Party">Andhra Pradesh Rashtra Samaikya Samithi Party</option>
										<option value="Jawan Kisan Morcha">Jawan Kisan Morcha</option>
										<option value="Prism">Prism</option>
										<option value="Rashtriya Janshakti Party(Eklavya)">Rashtriya Janshakti Party(Eklavya)</option>
										<option value="Great India Party">Great India Party</option>
										<option value="Bhartiya Pragatisheel Congress">Bhartiya Pragatisheel Congress</option>
										<option value="Inqalab Vikas Dal">Inqalab Vikas Dal</option>
										<option value="Telangana Loksatta Party">Telangana Loksatta Party</option>
										<option value="Jan Raajya Party">Jan Raajya Party</option>
										<option value="Bharat Nav Nirman Party">Bharat Nav Nirman Party</option>
										<option value="Akhil Bharatiya Samajwadi Congress">Akhil Bharatiya Samajwadi Congress</option>
										<option value="Namadhu Makkal Katchi">Namadhu Makkal Katchi</option>
										<option value="Mahamukti Dal">Mahamukti Dal</option>
										<option value="Mahila Swabhiman Party">Mahila Swabhiman Party</option>
										<option value="Bharatiya Sarvodaya Kranti Party">Bharatiya Sarvodaya Kranti Party</option>
										<option value="Rashtriya Vikas Party">Rashtriya Vikas Party</option>
										<option value="Anaithindia Dravidar Samudaya Munnetra Kazhagam">Anaithindia Dravidar Samudaya Munnetra Kazhagam</option>
										<option value="Sarvshreshth Dal">Sarvshreshth Dal</option>
										<option value="Telangana Communist Party of India">Telangana Communist Party of India</option>
										<option value="Akhil Bhartiya Vikas Congress Party">Akhil Bhartiya Vikas Congress Party</option>
										<option value="Jantantra Party">Jantantra Party</option>
										<option value="Rashtriya Rashtrawadi Party">Rashtriya Rashtrawadi Party</option>
										<option value="National Janhit Congress (AB)">National Janhit Congress (AB)</option>
										<option value="Rashtrawadi Samaj Party">Rashtrawadi Samaj Party</option>
										<option value="Dharmarajya Paksha">Dharmarajya Paksha</option>
										<option value="Indian Peace Party">Indian Peace Party</option>
										<option value="Bhartiya Republican Party (Insan)">Bhartiya Republican Party (Insan)</option>
										<option value="Atulya Bharat Party">Atulya Bharat Party</option>
										<option value="Mahanwadi Party">Mahanwadi Party</option>
										<option value="Rashtriya Karmyog Party">Rashtriya Karmyog Party</option>
										<option value="UTTARAKHAND PARIVARTAN PARTY">UTTARAKHAND PARIVARTAN PARTY</option>
										<option value="Akhil Rashtrawadi Party">Akhil Rashtrawadi Party</option>
										<option value="Rashtriya Praja Congress (Secular)">Rashtriya Praja Congress (Secular)</option>
										<option value="Manipur Democratic Peoples's Front">Manipur Democratic Peoples's Front</option>
										<option value="Bhartiya Jan Yug Party">Bhartiya Jan Yug Party</option>
										<option value="Bhartiya Jan Yug Party">Bhartiya Jan Yug Party</option>
										<option value="Socialist Party (Lohia)">Socialist Party (Lohia)</option>
										<option value="Labour Party of India (V.V. Prasad)">Labour Party of India (V.V. Prasad)</option>
										<option value="Indian Bahujan Sandesh Party (Kanshiram)">Indian Bahujan Sandesh Party (Kanshiram)</option>
										<option value="Dr. Ambedkar Samajvadi Democratic Party">Dr. Ambedkar Samajvadi Democratic Party</option>
										<option value="Adarsh Manavtawadi Party">Adarsh Manavtawadi Party</option>
										<option value="Bhartiya Navjawan Sena (Paksha)">Bhartiya Navjawan Sena (Paksha)</option>
										<option value="Rashtriya Bahujan Hitay Party">Rashtriya Bahujan Hitay Party</option>
										<option value="Narayani Sena">Narayani Sena</option>
										<option value="Bahujan Suraksha Dal">Bahujan Suraksha Dal</option>
										<option value="Brihattar Bharat Prajatantra Sewa Party">Brihattar Bharat Prajatantra Sewa Party</option>
										<option value="Bhartiya Party">Bhartiya Party</option>
										<option value="Rashtriya Uttarakhand Party">Rashtriya Uttarakhand Party</option>
										<option value="Awami Samta Party">Awami Samta Party</option>
										<option value="Bharatiya Rashtriya Mazdoor Dal">Bharatiya Rashtriya Mazdoor Dal</option>
										<option value="All India Azaad Congress Party">All India Azaad Congress Party</option>
										<option value="Rashtriya Manav samman Party">Rashtriya Manav samman Party</option>
										<option value="Rashtriya Janshanti Party">Rashtriya Janshanti Party</option>
										<option value="All Jammu and Kashmir Republican Party">All Jammu and Kashmir Republican Party</option>
										<option value="Rashtriya Janta Party">Rashtriya Janta Party</option>
										<option value="Rashtriya Bandhutwa Party">Rashtriya Bandhutwa Party</option>
										<option value="Jebamani Janata">Jebamani Janata</option>
										<option value="Loktantrik Rashrtavadi Party">Loktantrik Rashrtavadi Party</option>
										<option value="Nehru Janhit Congress">Nehru Janhit Congress</option>
										<option value="Akhil Bharatiya Congress Dal (Ambedkar)">Akhil Bharatiya Congress Dal (Ambedkar)</option>
										<option value="Navodyam Party">Navodyam Party</option>
										<option value="Bhartiya Naujawan Inklav Party">Bhartiya Naujawan Inklav Party</option>
										<option value="Rashtriya Vikas Manch Party">Rashtriya Vikas Manch Party</option>
										<option value="Bhartiya Samajik Kranti Dal">Bhartiya Samajik Kranti Dal</option>
										<option value="Bhrashtachar Mukti Morcha">Bhrashtachar Mukti Morcha</option>
										<option value="Bharatiya Navyuvak Party">Bharatiya Navyuvak Party</option>
										<option value="Punjab Labour Party">Punjab Labour Party</option>
										<option value="Kamarajar Deseeya Congress">Kamarajar Deseeya Congress</option>
										<option value="Democratic Prajakranthi Party Secularist">Democratic Prajakranthi Party Secularist</option>
										<option value="Bharatiya Jawala Shakti Paksha">Bharatiya Jawala Shakti Paksha</option>
										<option value="Jan Raksha Party">Jan Raksha Party</option>
										<option value="Democratic Secular Party">Democratic Secular Party</option>
										<option value="Rashtriya Komi Ekta Party">Rashtriya Komi Ekta Party</option>
										<option value="National Organisation Congress">National Organisation Congress</option>
										<option value="Rashtrawadi Parivartan Party (L.B,)">Rashtrawadi Parivartan Party (L.B,)</option>
										<option value="All India Mazdoor Party (Rangreta)">All India Mazdoor Party (Rangreta)</option>
										<option value="National Youth Party">National Youth Party</option>
										<option value="Bahujan Kranti Party (Marxwad-Ambedkarwad)">Bahujan Kranti Party (Marxwad-Ambedkarwad)</option>
										<option value="Bhartiya Vikas Party">Bhartiya Vikas Party</option>
										<option value="Rashtriya Janmorcha">Rashtriya Janmorcha</option>
										<option value="Bhartiya Janta Dal (Integrated)">Bhartiya Janta Dal (Integrated)</option>
										<option value="Rashtriya Garib Dal">Rashtriya Garib Dal</option>
										<option value="Indian Justice Party">Indian Justice Party</option>
										<option value="Bharatiya Samaj Dal">Bharatiya Samaj Dal</option>
										<option value="Voters Party">Voters Party</option>
										<option value="Akhil Bharatiya Manavata Paksha">Akhil Bharatiya Manavata Paksha</option>
										<option value="The Religion of Man Revolving Political Party of India">The Religion of Man Revolving Political Party of India</option>
										<option value="Indian Bahujan Samajwadi Party">Indian Bahujan Samajwadi Party</option>
										<option value="Rashtriya Shoshit Samaj Party">Rashtriya Shoshit Samaj Party</option>
										<option value="Akhil Bhartiya Aamjan Party">Akhil Bhartiya Aamjan Party</option>
										<option value="Himachal Swabhiman Party">Himachal Swabhiman Party</option>
										<option value="Himachal Swabhiman Party">Himachal Swabhiman Party</option>
										<option value="Majlis Markaz-e-Siyasee Party">Majlis Markaz-e-Siyasee Party</option>
										<option value="Dalit Vikas Party(Bharat)">Dalit Vikas Party(Bharat)</option>
										<option value="Janral Samaj Party">Janral Samaj Party</option>
										<option value="Janral Samaj Party">Janral Samaj Party</option>
										<option value="Janral Samaj Party">Janral Samaj Party</option>
										<option value="Aazadi Ka Antim Aandolan Dal">Aazadi Ka Antim Aandolan Dal</option>
										<option value="RASHTRIYA MORCHA PARTY">RASHTRIYA MORCHA PARTY</option>
										<option value="Bhartiya Shramik Dal Socialist">Bhartiya Shramik Dal Socialist</option>
										<option value="Republican Party of India Ektavadi">Republican Party of India Ektavadi</option>
										<option value="Hindustan Swaraj Congress Party">Hindustan Swaraj Congress Party</option>
										<option value="Bharatiya Mool Niwasi Samaj Party">Bharatiya Mool Niwasi Samaj Party</option>
										<option value="Democratic Congress Party">Democratic Congress Party</option>
										<option value="Bhartiya Chaitanya Party">Bhartiya Chaitanya Party</option>
										<option value="National Party">National Party</option>
										<option value="Goa Su-Raj Party">Goa Su-Raj Party</option>
										<option value="Samta Vikas Party">Samta Vikas Party</option>
										<option value="Kannada Chalavali Vatal Paksha">Kannada Chalavali Vatal Paksha</option>
										<option value="Prajatantra Aadhar Party">Prajatantra Aadhar Party</option>
										<option value="Akhil Bharatiya Hind Kranti Party">Akhil Bharatiya Hind Kranti Party</option>
										<option value="Akhil Bharatiya Rajarya Sabha">Akhil Bharatiya Rajarya Sabha</option>
										<option value="Social Action Party">Social Action Party</option>
										<option value="Rashtriya Sawarn Dal">Rashtriya Sawarn Dal</option>
										<option value="Akhand Bharat Samaj Party">Akhand Bharat Samaj Party</option>
										<option value="Indian Oceanic Party">Indian Oceanic Party</option>
										<option value="Rashtriya Ekta Party">Rashtriya Ekta Party</option>
										<option value="B.C.Bharata Desam Party">B.C.Bharata Desam Party</option>
										<option value="Hindustan Ekta Party">Hindustan Ekta Party</option>
										<option value="Adarsh Samaj Party">Adarsh Samaj Party</option>
										<option value="Indian Gandhiyan Party">Indian Gandhiyan Party</option>
										<option value="All India Ravidas Samata Party">All India Ravidas Samata Party</option>
										<option value="Uttar Pradesh Republican Party">Uttar Pradesh Republican Party</option>
										<option value="Goemcarancho Otrec Astro">Goemcarancho Otrec Astro</option>
										<option value="Bharatiya Nav Kranti Party">Bharatiya Nav Kranti Party</option>
										<option value="Nava Bharat National Party">Nava Bharat National Party</option>
										<option value="Thrinamool Tamil Nadu Congress">Thrinamool Tamil Nadu Congress</option>
										<option value="Navbharat Nirman Party">Navbharat Nirman Party</option>
										<option value="Parivartan Samaj Party">Parivartan Samaj Party</option>
										<option value="Rashtriya Janadhikar Party">Rashtriya Janadhikar Party</option>
										<option value="Indians Victory Party">Indians Victory Party</option>
										<option value="Sardar Vallabhbhai Patel Party">Sardar Vallabhbhai Patel Party</option>
										<option value="Ambedkar People's Movement">Ambedkar People's Movement</option>
										<option value="Majdoor Kisan Union Party">Majdoor Kisan Union Party</option>
										<option value="Jan Samanta Party">Jan Samanta Party</option>
										<option value="Vanchit Jamat Party">Vanchit Jamat Party</option>
										<option value="People's Party of India(secular)">People's Party of India(secular)</option>
										<option value="Bhartiya Jan Manch">Bhartiya Jan Manch</option>
										<option value="Akhil Bharatiya Ashok Sena">Akhil Bharatiya Ashok Sena</option>
										<option value="Vishva SHakti Party">Vishva SHakti Party</option>
										<option value="Rashtriya Jatigat Aarakshan Virodhi Party">Rashtriya Jatigat Aarakshan Virodhi Party</option>
										<option value="Rashtriya Jankranti Party">Rashtriya Jankranti Party</option>
										<option value="Bharat Vishal Party">Bharat Vishal Party</option>
							</select>
							<input type="submit" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="map-container">
					<iframe id="map"></iframe>
				</div>
			</div>
		</div>
	</div>

</body>
<script>
	var data = {};
	$('#form_id').on('submit', function(e){
		e.preventDefault();
		data["party-name"] = document.getElementsByName('party-name')[0].value;

		if(data["party-name"] !== "None"){
				$.ajax({
	             url: e.target.baseURI + 'party',
	             type : "POST",
	             contentType : 'application/json',
	             data : JSON.stringify(data),
	             success : function(result) {
	                 var iframe = document.getElementById('map');
	                 iframe.src = 'data:text/html,'+result;
	       		}
			})
		}else {
			alert("Please Select a Party");
		}
	})
	$(document).ready(function() {
    	$('.menuSelect').chosen({
	      placeholder_text_single: "Select Party",
	      no_results_text: "Oops, nothing found!"
	    });
	});
</script>
</html>